<!-- *ngIf = if -->
<div *ngIf="employee">
    <!-- {{ }} => One Way-Binding binding auf ein Propertie  -->
    <h2>{{employee.name}} details!</h2>
    <div><label>id: </label>{{employee.id}}</div>
    <div>
        <label>name: </label>
        <!-- [{ }] => Two-Way Binding auf ein Property -->
        <input [(ngModel)]="employee.name" placeholder="name"/>
    </div>
    <div>
        <div *ngIf="!valid" class="alert alert-danger">Age < Min Age! Age set to 16</div>
        <label>age: </label>
        <input type="number" [(ngModel)]="employee.age" min="16" placeholder="age"
               (ngModelChange)="validateAge($event)"/>
    </div>
    <!-- (click) => Event Binding auf eine Methode -->
    <button (click)="goBack()">Back</button>
</div>